body {
    color: black;
    background-image: url("Background-image.jpg");
}

footer {


    background-color: navy;
    text-align: center;
    color: white;
    width: 1000px;
    margin-left: 25%;
    margin-top: -15px;
}
ul{
    margin-top: 0;
}
li{
    display: block;
    cursor: pointer;
}


.container {
    margin-left: 25%;
    height: 700px;
    width: 1000px;
    display: flex;
}


.leftNavi {
    flex: 1;
    float: left;
    background-color: lightblue;
    width: 20%;
    height: 100%;
    opacity: 0.6 !important;
    display: flex;
    flex-direction: column;

}

ul.inUl {
    list-style-type: none;
    background-color: aquamarine;
    margin-top: 0;
    padding: 0;
    flex: 1;

}

ul.inUl li a {

    margin-left: 30px;
}

ul.outUl {
    list-style-type: none;
    background-color: cadetblue;
}

.mainContent {
    float: left;
    height: 100%;
    background-color: powderblue;
    overflow-y: scroll;
    width: 80%;
}

.leftNavi ul {
    list-style-type: none;
    padding: 0;
}

.leftNavi li {
    list-style-type: none;
    margin-bottom: 10px;
    display: block;
}

.leftNavi li:hover {
    background-color: #7f14dc;

}

.sideContent {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}


table.myTable {
    width: 100%;
    text-align: center;
}

table.myTable td, table.myTable th {
    border-style: none;
    padding: 3px 2px;
}

table.myTable tbody td {
    font-size: 17px;
}

table.myTable tr:nth-child(even) {
    background: #D0E4F5;
}

table.myTable thead {
    background: #1C6EA4;

}

table.myTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

table.myTable tfoot {
    font-weight: bold;
}

table.myTable tfoot .links {
    text-align: right;
}

table.myTable tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
    border-style: none;
}

/*color: #EBEBEB;*/
/*background-color: navy;*/
/*display: flex;*/
/*justify-content: center;*/
/*flex-direction: column;*/
/*align-items: center;*/


/*body {*/
/*    color: black;*/
/*    background-image: url("Background-image.jpg");*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*}*/

/*ul {*/
/*    text-decoration: none;*/
/*    list-style-type: none;*/
/*}*/

/*li {*/
/*    border-style: solid;*/
/*    text-decoration: none;*/
/*    list-style-type: none;*/
/*    border-width: 1px;*/
/*    border-color: cadetblue;*/

/*}*/

/*footer {*/

/*    opacity: unset !important;*/
/*}*/
/*.left-bar{*/
/*    float: left;*/
/*    background-color: bisque;*/
/*    width: 20%;*/
/*    height: 100%;*/
/*    opacity: 0.6;*/

/*}*/
/*ul.a{*/
/*    margin-top: 0%;*/
/*    list-style-type: none;*/
/*    background-color: aquamarine;*/
/*}*/
/*ul.b{*/
/*    list-style-type: none;*/
/*    background-color: blueviolet;*/

/*.tabelka {*/
/*    justify-content: space-evenly;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*th {*/
/*    justify-content: space-evenly;*/
/*}*/

/*.guzik:hover {*/
/*    background-color: darkcyan;*/
/*}*/

/*.container {*/
/*    display: flex;*/

/*}*/

/*.column {*/
/*    flex: 1;*/
/*    padding: 10px;*/

/*}*/

/*.Topnav {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    float: left;*/
/*    width: 250px;*/
/*    padding: unset;*/
/*    background-color: cornflowerblue;*/
/*    opacity: 100% !important;*/

/*}*/

/*.Topnav-inner {*/
/*    background-color: cadetblue;*/

/*}*/

/*.wholeContainer {*/
/*    width: 780px;*/
/*    background: #FFFFFF;*/
/*    margin: 0 auto;*/
/*    border: 1px solid #000000;*/
/*    text-align: left;*/
/*    opacity: 80%;*/
/*}*/

/*#MainContent {*/
/*    margin: 0 0 0 250px;*/
/*    padding: 20px 20px 20px 20px;*/
/*    background-color: lightblue;*/

/*    overflow: auto;*/
/*    width: 490px;*/
/*    height: 480px;*/

/*}*/

/*#footer {*/
/*    opacity: 100%;*/
/*}*/

/*!*.guzik {*!*/
/*!*    background-color: cornflowerblue;*!*/
/*!*}*!*/

/*.foot {*/
/*    opacity: 123% !important;*/
/*}*/

/*.column-left{*/
/*    align-items: flex-start;*/
/*}*/
/*.column-right{*/
/* align-items: flex-end;*/
/*}*/
/*.table {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/
/*th, td{*/
/*    flex:1 ;*/
/*    text-align: center;*/
/*}*/







