body {
    background-color: slategrey;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.mainContent {
    background-color: wheat;
}

.leftNavi{
    height: 10%;
    align-items: flex-start;
}
